@font-face {
    font-family: walkway;
    src: url(../fonts/walkway-expand-black.eot);
    src: url(../fonts/walkway-expand-black.eot?#iefix) format("embedded-opentype"), url(../fonts/walkway-expand-black.woff2) format("woff2"), url(../fonts/walkway-expand-black.woff) format("woff"), url(../fonts/walkway-expand-black.ttf) format("truetype")
}

@font-face {
    font-family: myriad;
    src: url(../fonts/myriad-web-pro.eot);
    src: url(../fonts/myriad-web-pro.eot?#iefix) format("embedded-opentype"), url(../fonts/myriad-web-pro.woff2) format("woff2"), url(../fonts/myriad-web-pro.woff) format("woff"), url(../fonts/myriad-web-pro.ttf) format("truetype")
}

.background {
    float: left;
    overflow: hidden
}

#titlebar img {
    width: 35%;
    height: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.center {
    font-family: myriad;
    text-align: left;
    position: absolute;
    width: 50%;
    height: 50px;
    padding-top: 2%;
    left: 50%;
    margin-left: -25%
}

.designerleft {
    float: left;
    clear: both;
    padding-top: 2%;
    padding-left: 22%;
    width: 30%
}

.designerright {
    font-family: myriad;
    overflow: auto;
    display: block;
    padding-top: 10%;
    padding-left: 1%;
    padding-right: 8%;
    width: 30%
}

.starttopleft {
    position: absolute;
    padding-top: 2%;
    padding-left: 2%
}

.headingleft {
    text-align: left;
    font-family: myriad
}

.textleft {
    text-align: left;
    font-family: myriad;
    font-size: 80%
}

.popup-gallery {
    padding-top: 2%;
    padding-left: 27%;
    padding-right: 20%
}

.popup-gallery img {
    padding: 2%;
    max-height: 20.5%;
    max-width: 14%;
    width: 14%;
    height: 20.5%
}

.editorialstext {
    font-family: myriad;
    text-align: left;
    width: 100%;
    height: 50px;
}

.help-block {
	font-family: myriad;
    text-align: left;
    width: 100%;
    height: 50px;
}